button{
    height:100%;
    width:100%;
    background-color:hsl(0, 0%, 30%);
    color:rgb(255, 255, 255);
    border:none;
    border-radius:50px;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
#key{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:5px;
    padding:20px;
}
#calculator{
    font-family:arial,sans-serif;
    background-color:hsl(0, 0%, 15%);
    border-radius:20px;
    max-width:500px;
    overflow:hidden;
}
#display{
    width:100%;
    padding:30px;
    font-size:4rem;
    text-align:left;
    border:none;
    background-color:hsl(0, 0%, 20%);
    color:white;
}
body{
    margin:1;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:hsl(0, 0%, 90%);
}
button:hover{
    background-color:hsl(0, 0%, 50%)
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
.operation-btn{
    background-color:hsl(120, 100%, 35%);
}
.operation-btn:hover{
    background-color:hsl(120, 100%, 45%)
    
}
.operation-btn:active{
    background-color:hsl(120, 100%, 65%)
}